// Load Fonts

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Josefin+Sans|Oswald|Bree+Serif|Raleway);
@import url(../../builds/pomodoro/media/fonts/anonymous-pro/AnonymousPro-Regular.ttf);

@font-face {
    font-family: "Anonymous";
    src: url(../../builds/pomodoro/media/fonts/anonymous/Anonymous.ttf);
}

$offwhite:    #EEE8D6;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;
$cyan: #60daaa;



$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;


$font-main: "Josefin Sans", Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

//breakpoints

$small:		450px;
$medium:	760px;
$large:		1200px;

//borders
$border-main: solid 2px;
